table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 300px;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    border: .1px solid;
}